if command -v nix-env >/dev/null 2>&1; then
  use flake .
fi

export HOST=localhost
export PORT=8080

if [[ "$HOST" == "localhost" ]]; then
  export URL_ROOT="http://$HOST:$PORT"
else
  export URL_ROOT="http://$HOST"
fi